@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?o12w9v');
    src: url('../font/fontello.eot?#iefixo12w9v') format('embedded-opentype'),
    url('../font/fontello.woff?o12w9v') format('woff'),
    url('../font/fontello.ttf?o12w9v') format('truetype'),
    url('../font/fontello.svg?o12w9v#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    background: #000;
    font: normal 14px/1.4em 'Microsoft YaHei';
    overflow: hidden;

}
a,input{
	outline:none;
}
.b{
	font-weight:bold;
}
.l{
	float:left;
}
.r{
	float:right;
}
.clear{
	clear:both;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
/*menue*/
#menue-overlay{
	position: fixed;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 255px;
	top: 0;
	bottom: 0;
    transition: transform .4s;
	-webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
	/*-webkit-transform: translate3d(-251px, 0, 0);*/
	border-right: 1px solid #5E5C50;
	padding: 0;
	z-index: 1;
}
#menue-overlay li{
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
#menue-overlay .logo-line{
	width: 210px;
	padding-top: 64px;
	padding-left: 46px;
	padding-bottom: 64px;
	height: 90px;
}
#menue-overlay .logo{
	width: 84px;
}
#menue-overlay .sub-logo{
	width: 80px;
	padding-left: 8px;
}
#menue-overlay .tab{
	line-height: 45px;
	font-size: 25px;
	margin-bottom:15px;
}
#menue-overlay .tab a{
	padding: 0 0 0 80px;
	display: block;
	float: none;
	cursor:pointer;
	color: #fff;}
#menue-overlay .ui-tabs-active a{
	background: rgba(255, 255, 255, 0.1);
	border-right: 6px solid rgb(29, 203, 244);
}

/*gallery img*/
.j-gallery-wrapper{
	width: 295px;
	height: 335px;
    transform: translate3d(0%, 0px, 0px);
    -webkit-transform: translate3d(0%, 0px, 0px);
	-moz-transform: translate3d(0%, 0px, 0px);
	list-style: none;
	transition: transform .4s;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}
.j-gallery-wrapper .j-gallery-item,.home-no-link-list{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	padding: 10px;
	list-style: none;
	margin: 0;
	transition: transform .4s;
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
}
.j-gallery-wrapper .j-gallery-item > a,.j-gallery-wrapper .j-gallery-item > a span,.j-gallery-wrapper .j-gallery-item > a img{
	width:100%;
	height:100%;
	left: 0;
	right: 0;
	top: 0;
	padding:0;
}
.home-no-link-list > img{
	width:100%;
	height:100%;
	left: 0;
	right: 0;
	top: 0;
	padding:0;
}
/*topic Introduction*/
.sub-page-top-menue{
	color: white;
	list-style: none;
	display: -webkit-box;
	-webkit-box-pack: center;
	display: flex;
	justify-content: center;
	font: normal 22px/38px '';
	margin: 12px auto!important;
	padding: 0!important;
}
.sub-page-top-menue a{
	display: block;
	padding: 0 2em!important;
	padding-top: 12px!important;
	margin-top: -12px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #000;
}
.sub-page-top-menue .ui-state-active a,.sub-page-top-menue .active{
	color: #FFF;
	background: #222;
	border-bottom-color: rgb(29, 203, 244);
}
/*page common css*/
.j-takagism-wrapper.ui-tabs{
	position: initial;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	padding:0;
	margin:0;
}
.ui-tabs .ui-tabs-panel{
	padding:0;
}
.ui-tabs .ui-tabs-nav li{
	margin:0;
}
#home,#subject,#art,#commonweal,#summary,#comment{
	left: 255px;
	padding: 0;
}
.j-home-wrapper,.summary-animation-scroll-wrapper,.post-comment-wrapper{
	left: 255px;
	background: rgba(0, 0, 0, 0.6);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}


/*home page*/
.home-bg{
	background:url("../js/images/smmc-bg.jpg") no-repeat center center;
}
.home-bg .fg-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background:url("../js/images/smmc-fg.png") no-repeat center center;
}
.j-home-wrapper{
	padding: 60px 0;
}
.j-home-activity-list .arrow{
	position:absolute;
}
.j-home-activity-list .left-arrow{
	width:35px;
	height:72px;
	top: 50%;
	left: 20px;
	margin-top:-36px;
	z-index: 1;
	background:url("../js/images/sm-left-arrow.jpg") no-repeat center center;
}
.j-home-activity-list .right-arrow{
	width:35px;
	height:72px;
	top: 50%;
	right:20px;
	margin-top:-36px;
	z-index: 1;
	background:url("../js/images/sm-right-arrow.jpg") no-repeat center center;
}
.j-home-activity-list .home-gallery{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
}
.j-home-activity-list .lb-album{
	width: 100%;
	height: 100%;
	position: initial;
	margin: 0;
	padding: 0px;
	left: 0;
	right: 0;
	top: 0;
}
.j-home-activity-list .lb-album li{
	width: 100%;
	height: 100%;
	margin: 0;
}
.j-home-activity-list .lb-album li > a{
	width: 100%;
	height: 100%;
	padding: 0;
}
.lb-album li > a img{
	width: 100%;
	height: 100%;	
}
.j-home-activity-list .lb-album li > a span{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*summery page */
.secret-room-bg{
	background:url("../js/images/secret-room-bg.jpg") no-repeat center center;
}
@keyframes scrollscreen {
    from {
        transform: translate3d(0, 70%, 0);
    }
    to {
        transform: translate3d(0, -100%, 0);
    }
}
@-webkit-keyframes scrollscreen {
    from {
        -webkit-transform: translate3d(0, 70%, 0);
    }
    to {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}
@-moz-keyframes scrollscreen {
    from {
        -moz-transform: translate3d(0, 70%, 0);
    }
    to {
        -moz-transform: translate3d(0, -100%, 0);
    }
}

.summary-animation-scroll-wrapper {
    overflow: hidden;
}
.summary-animation-scroll {
	padding: 66px;
	line-height: 40px;
	font-size: 18px;
	text-align: left;
	text-indent: 2em;
	color: #fff;
    -webkit-animation: scrollscreen 10s linear 0s infinite;
    animation: scrollscreen 10s linear 0s infinite;
}
.summary-animation-scroll .title{
	text-align: center;
	font-size: 34px;
	padding-bottom: 25px;
	text-indent: 0;
}
.summary-animation-scroll-bottom {
	text-align: center;
	text-indent: 0;
}
.summary-animation-scroll-bottom .title{
	padding-top: 25px;
	padding-bottom: 0px;
}
.summary-animation-scroll-bottom
.summary-animation-scroll:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
/*post and comment page*/
.post-comment-wrapper{
	padding:60px 40px;
	color:#fff;
	font-size: 18px;
}
.post-comment-wrapper .left-side{
	width: 370px;
	float: left;
	padding-right: 100px;
}
.post-comment-wrapper .left-side .title,.post-comment-wrapper .right-side .title{
	font-size: 37px;
	line-height: 45px;
	padding-bottom: 30px;
}
.post-comment-wrapper .left-side .sub-title{
	font-size: 28px;
	padding-bottom: 60px;
}
.post-comment-wrapper .left-side .info-content{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 24px;
	line-height: 40px;
}
.post-comment-wrapper .right-side{
	float:left;
	width: 390px;
}
.j-post-comment-list-wrapper{
	padding: 0;
	margin: 0;
	list-style: none;
	color: #aaa;
	width: 390px!important;
}
.j-post-comment-list-wrapper .comment-list-box:first-child{
	border-top: none;
}
.j-post-comment-list-wrapper .comment-list-box{
	padding: 10px 0;
	border-top: 1px solid #aaa;
}
.j-post-comment-list-wrapper .player-text{
	display: block;
	font-size: 24px;
	line-height: 30px;
}
.j-post-comment-list-wrapper .player-text .b{
	font-size: 25px;
}
.j-post-comment-list-wrapper .date{
	display: block;
	font-size: 14px;
	text-align: right;
}
.post-comment-wrapper .right-side textarea{
	margin-top: 20px;
	width: 388px;
	border: 1px solid #aaa;
	background: transparent;
	height: 110px;
	font-size: 18px;
	color: #fff;
	line-height: 25px;
}
.right-side .j-post-comment{
	text-align: right;
	float: right;
	margin-top: 10px;
	display: inline-block;
	padding: 5px 10px;
	background: rgb(29, 203, 244);
	border-radius: 5px;
	text-decoration: none;
	font-size: 28px;
	color: #383737;
	line-height: 30px;
}
/*pop page*/
#float_overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	background: url('../js/images/wood.jpg');
	padding-left: 256px;
}
#float_overlay.active {
	display: -webkit-box;
	display: flex;
}
#float_overlay .button-wrapper{
	display: -webkit-box;
	-webkit-box-align: center;
	display: flex;
	align-items: center;
}
#float_overlay .content-wrapper{
	-webkit-box-flex: 1;
	flex: 1;
	background: url('../js/images/book.jpg') no-repeat 0 0 / 100% 100%;
	padding: 24px;
	display: -webkit-box;
	display: flex;
}
#float_overlay button.prev, #float_overlay button.next{
	padding: 27px 10px;
	border-radius: 2px;
	background: -webkit-linear-gradient(top, #3e3e3e, #333);
	background: -ms-linear-gradient(top, #3e3e3e, #333);
	border: 1px solid #191919;
}
#float_overlay button.prev::before, #float_overlay button.next::before{
	font: normal 23px/1 'fontello';
	display: block;
	color: #DDD;
}
#float_overlay button.prev::before{
	content: '\e803';
}
#float_overlay button.next::before{
	content: '\e804';
}
#float_overlay .content-wrapper {
	-webkit-box-flex: 1;
	flex: 1;
	background: url('../js/images/book.jpg') no-repeat 0 0 / 100% 100%;
	padding: 24px;
	display: -webkit-box;
	display: flex;
}
#float_overlay .content {
	-webkit-box-flex: 1;
	flex: 1;
	position: relative;
	perspective: 900px;
	-webkit-perspective: 900px;
}
#float_overlay .right {
	right: 0;
    transform-origin: left;
	-webkit-transform-origin: left;
    -moz-transform-origin: left;
	display: -webkit-box;
	box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
	display: flex;
	flex-direction: column;
}
#float_overlay .left {
	left: 0;
    transform-origin: right;
	-webkit-transform-origin: right;
    -moz-transform-origin: right;
	display: -webkit-box;
	box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
	box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
#float_overlay .left, #float_overlay .right {
	position: absolute;
	height: 100%;
	width: 50%;
	overflow: hidden;
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition: transform 1.2s;
	-webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -webkit-transform 1.2s;
}
#float_overlay .left::before, #float_overlay .right::before {
	content: '';
	z-index: -1;
	position: absolute;
	left: -24px;
	top: -24px;
	right: 0;
	bottom: -24px;
	background: #000 url('../js/images/book.jpg') no-repeat 0 0 / 200% 100%;
}
#float_overlay .right::before {
	left: 0;
	right: -24px;
	background-position: right;
}
#float_overlay .left .j-book-left-img {
	width: 398.4px;
	display: block;
	padding: 4px;
	box-shadow: 0 0 6px #000;
	height: auto;
}
#float_overlay .book-img-container{
	position: relative;
}
#float_overlay .left .logo {
	position: absolute;
	left: 8px;
	top: 8px;
}
#float_overlay .right h1 {
	text-align: center;
	font: bold 32px/2em '';
	margin: 0 0 12px;
}
#float_overlay .right .options {
	list-style: none;
	font: bold 13px/2em '';
	margin: 0;
}
#float_overlay .right .options span {
	display: inline-block;
	width: 4em;
}
#float_overlay .right h2 {
	font: bold 20px/3.2em '';
	margin: 0 20px;
}
#float_overlay .right p {
	font: normal 16px/2em '';
	margin: 0 2em;
	min-height: 8em;
	white-space: pre-wrap;
	flex: 1;
	box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
	overflow-y: auto;
	background: rgba(82, 83, 59, 0.1);
	padding: 0 12px;
	scrollbar-face-color: #444;
	scrollbar-track-color: #e4d3ac;
	word-wrap: break-word;
}
#float_overlay .right p::-webkit-scrollbar {
	width: 11px;
	background: -webkit-linear-gradient(top, #444, #444) no-repeat 5px 0;
	background-size: 1px 100%;
}
#float_overlay .right p::-webkit-scrollbar-thumb {
	background: #444;
	background-clip: content-box;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
}
#float_overlay .right .imgs {
	list-style: none;
	margin: 20px 30px 0;
	padding: 0;
	display: -webkit-box;
	display: flex;
}
#float_overlay .right .imgs img {
	width: 80px;
	height: 80px;
	cursor: pointer;
	margin: 6px;
}
#float_overlay .close{
	position: absolute;
	width:31px;
	height:26px;
	display:inline-block;
	top: 0;
	right: 0;
	background:url("../js/images/book-close.jpg") no-repeat center center;
	cursor:pointer;
}
.big-popup{
	z-index: 10;
	left: 256px;
	background: rgba(0, 0, 0, 0.6);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}
.big-popup .arrow{
	position: absolute;
	top: 50%;
	margin-top: -42px;
}
.big-popup .left-arrow{
	left:0;
	width:46px;
	height:84px;
	display:inline-block;
	background:url("../js/images/left-arrow.jpg") no-repeat center center;
	cursor:pointer;
}
.big-popup .right-arrow{
	right:0;
	width:46px;
	height:84px;
	display:inline-block;
	background:url("../js/images/right-arrow.jpg") no-repeat center center;
	cursor:pointer;
}
.big-popup .close{
	position: absolute;
	width:52px;
	height:46px;
	display:inline-block;
	top: 0;
	right: 0;
	background:url("../js/images/close-icon.jpg") no-repeat center center;
	cursor:pointer;
}
.picture-popup{
	padding-left: 60px;
	padding-top: 30px;
}
.picture-popup .content{
	position: relative;
	width: 855px;
	height: 625px;
}
.picture-popup .content img{
	width: 855px;
	max-height: 625px;
}
.article-popup{
	padding-left: 20px;
	padding-top: 80px;
	background: #000;
}
.article-popup .content{
	position: relative;
	width: 920px;
	height: 530px;
}
.article-popup .popup-content-item{
	width: 920px;
	height: 530px;
	background: #232323;
}
.article-popup .left-pic{
	width: 460px;
	height: 530px;
	padding-right: 48px;
}
.article-popup .left-pic img{
	width: 460px;
	height: 530px;
}
.article-popup .right-text{
	width: 390px;
	color: #fff;
	padding: 30px 0;
}
.article-popup .sub-title{
 	font-size: 24px;
	padding-bottom: 30px;
}
.article-popup .sub-content{
	font-size: 18px;
	line-height: 30px;
	text-indent: 34px;
}



