.theme-info-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 256px;
	background: url('../js/images/wood.jpg');
}
.theme-info-container.active{
	display: -webkit-box;
	display: flex;
}
.theme-info-container .page-button{
	display: -webkit-box;
	-webkit-box-align: center;
	display: flex;
	align-items: center;
	}
.book-wrapper{
	-webkit-box-flex: 1;
	flex: 1;
	padding: 24px;
	display: -webkit-box;
	display: flex;
	background:url("../js/images/smmc-book.jpg") no-repeat 0 0 / 100% 100%;
}
.book-wrapper .page-content{
	display:none;
	-webkit-box-flex: 1;
	flex: 1;
	position: relative;
	-webkit-perspective: 900px;
	-webkit-transform-origin: 0 50%;
	-webkit-transition: -webkit-transform 5s ease-in .1s;
}
.page-left::before,.page-right::before {
	content: '';
	z-index: -1;
	position: absolute;
	left: -24px;
	top: -24px;
	right: 0;
	bottom: -24px;
	background: #000 url("../js/images/smmc-book.jpg") no-repeat 0 0 / 200% 100%;
}
.page-right::before{
	left: 0;
	right: -24px;
	background-position: right;
	}
.book-wrapper .right-active{
	display:block;
}
.book-wrapper .left-active{
	display:block;
}
.book-wrapper .old{
	display:block;
}
.book-wrapper .new .page-left{
	-webkit-transform: rotateY(180deg);
}
.right-active.old .page-right{
	-webkit-transform: rotateY(-180deg);
}
.right-active.new .page-left{
	-webkit-transform: rotateY(0);
}
.left-active.old .page-left{
	-webkit-transform: rotateY(180deg);
}
.page-right{
	right: 0;
	-webkit-transform-origin: left;
	transform-origin: left;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	display: flex;
	flex-direction: column;
}
.page-left{
	left: 0;
	-webkit-transform-origin: right;
	transform-origin: right;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-right,.page-left{
	position: absolute;
	height: 100%;
	width: 50%;
	overflow: hidden;
	backface-visibility: hidden;
	transition: transform 1.2s;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 1.2s;
}
.current-page .left {
    -webkit-transform: rotateY(0deg);
}
.current-page .right {
    -webkit-transform: rotateY(0deg);
}
.next-page .left {
    -webkit-transform: rotateY(180deg);
}		        
