<div class="secret-room-bg overlay" style="background-size: 100%;">
</div>
<div class="post-comment-wrapper overlay">
    <div class="left-side">
        <div class="title">水木迷城真人实景游戏</div>
        <div class="sub-title">密室预约</div>
        <ul class="info-content">
            <li><span class="phone-icon"></span>电话: </li>
            <li><span class="mobile-icon"></span>手机: </li>
            <li><span class="address-icon"></span>北京市还定去北三环西路科技会展中心</li>
        </ul>
        <div></div>
    </div>
    <div class="right-side">
        <div class="title">评论区</div>
        <ul class="j-post-comment-list-wrapper">
            <%
            if(info && info.length > 0) {
                for(var i = 0; i < info.length ; i++) {
                    include("./tpl_comment_list_item", info[i]);
                }
            }
            %>
        </ul>
        <textarea class="j-post-comment-content"></textarea>
        <a class="j-post-comment" href="javascript:void(0)">评论</a>
    </div>
</div>