<div class="summary-animation-scroll-wrapper">
<div class="summary-animation-scroll">
    <section>
        <section>公司简介</section>
        <section>
            <section>水木迷城文化传播有限公司成立于2013年8月，主要业务为真人实景类游戏的设计、推广与运营。</section>
            <section>公司旗下位于海淀区的三家直营店自开业以来受到玩家的一致好评。目前公司在北京、河北、浙江、福建、广东、辽宁、吉林、湖北、新疆、内蒙、贵州等地已有二十余家加盟店。</section>
            <section>除实体店外，水木迷城设计团队已为全国三十多个城市的密室逃脱店面提供了密室游戏设计，并独立开发了主题相关电脑程序、手机app，设计了侦探游戏、真人RPG游戏等多种类型的室内实景游戏，拥有丰富的游戏设计经验。</section>
        </section>
    </section>
    <section>
        <section>团队成员</section>
        <section>
            <section>CEO: 黄帅</section>
            <section>CTO: 黄帅</section>
            <section>CFO: 黄帅</section>
            <section>UFO: 黄帅</section>
        </section>
    </section>
</div>
</div>