<div class="j-home-wrapper overlay">
    <ul class="j-gallery-wrapper">
        <li class="j-home-main-list home-no-link-list">
             <img src="js/test_data/img/s.jpg"/>
             <span>
             </span>
        </li>
        <li class="j-home-main-list home-no-link-list">
             <img src="js/test_data/img/s.jpg"/>
             <span>
             </span>
        </li>
        <li class="j-home-main-list home-no-link-list">
             <img src="js/test_data/img/s.jpg"/>
             <span>
             </span>
        </li>
        <li class="j-home-main-list j-home-activity-list home-no-link-list">
            <a href="javascript:void(0)" class="j-home-activity-list-left arrow left-arrow"></a>
            <ul class="gallery lb-album home-gallery">
                <%
                if(info && info.length) {
                    for(var i = 0; i < info.length; i++) {
                        var e = info[i];
                        var displayStyle = "display:block;";
                        if(i != 0) {
                            displayStyle = "display:none;";
                        }
                %>
                <li class="j-gallery-item-home" style="<%=displayStyle%>" data-src="<%=e.largeImgPath%>" data-id="<%=e.id%>">
                    <a href="javascript:void(0)">
                        <img src="<%=e.smallImgPath%>"/>
                        <span>
                            <%=e.name%>
                        </span>
                    </a>
                </li>
                <%
                    }
                }
                %>
            </ul>
            <a href="javascript:void(0)" class="j-home-activity-list-right arrow right-arrow"></a>
        </li>
    </ul>
</div>