<%
if(info && info.length) {
    for(var i = 0; i < info.length; i++) {
        var e = info[i];
        if(e.commonwealDone === false) {
            e.attach = "(逐梦中)";
        }
%>
<li class="j-gallery-item" data-src="<%=e.largeImgPath%>" data-name="<%=e.name%>" data-id="<%=e.id%>"
    data-level="<%=e.level%>" data-plot="<%=e.plot%>"
    data-interest="<%=e.interest%>" data-content="<%=e.content%>"
    data-commonweal-done="<%=e.commonwealDone%>" data-type="<%=e.type%>">
    <a href="javascript:void(0)" data-id="<%=e.id%>">
        <img src="<%=e.smallImgPath%>"/>
        <span>
            <%=e.name%><%=e.attach%>
        </span>
    </a>
</li>
<%
    }
}
%>